body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fb;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  word-wrap: break-word;
  height: 100%;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

ul {
  list-style-type: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: row;
}

.container__column {
  display: flex;
  flex-direction: column;
}

.container__landing {
  width: 50vw;
  height: 100%;
  height: -moz-calc(95vh - 50px); /* Firefox */
  height: -webkit-calc(95vh - 50px); /* Chrome, Safari */
  height: calc(95vh - 50px);
  padding: 50px;
}

.logo {
  font-size: 2.5em;
  font-weight: bold;
}

.logo__mobile {
  font-size: 1.5em;
  font-weight: bold;
}

.text {
  font-weight: 100;
  font-size: 14px;
}

.text__landing {
  font-weight: 100;
  font-size: 18px;
  max-width: 437px;
  margin-bottom: 10vh;
}

.text__mobile {
  font-weight: 100;
  font-size: 14px;
}

.header {
  font-size: 18px;
  font-weight: 600;
}

.header__mobile {
  font-size: 16px;
  font-weight: 600;
}

.header__landing {
  margin-top: 20vh;
}

.footer {
  background-color: #282828;
  position: fixed;
  bottom: 0;
  height: 5vh;
  min-height: 50px;
  width: 100%;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 5vh;
  text-align: center;
}

.highlight {
  background-color: #ffd600;
  padding: 2px;
}

.btn {
  height: 60px;
}

.btn__landing {
  width: 50%;
  max-width: 437px;
  color: #fff;
  font-family: "Roboto Mono";
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn__landing__facebook {
  background-color: #0085ff;
}

.btn__landing__google {
  background-color: #ff6b00;
}

.card {
  width: 50vh;
  height: 50vh;
  border: solid 1px #282828;
  -webkit-box-shadow: 3px 3px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 3px 3px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  background-color: #ffd600;
}

.card:nth-child(2) {
  margin-left: -2rem;
  margin-top: -52vh;
}

.card:nth-child(3) {
  margin-left: -4rem;
  margin-top: -52vh;
}

.card_container__landing {
  justify-content: center;
}
